.header {
	width: 100%;
	height: 60px;
	z-index: 100;
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	.logo {
		display: flex;
		align-items: center;
		cursor: pointer;
		.img {
			width: 40px;
			border-radius: 10px;
		}
		.title {
			font-weight: bold;
			margin-left: 20px;
			letter-spacing: 1px;
			font-size: 24px;
			color: #000;
		}
		@media screen and (max-width: 1000px) {
			.title {
				display: none;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		padding: 0 2rem;
	}
	
	.menuicon {
		display: none;
		@media screen and (max-width: 1000px) {
			display: block;
		}
	}

	.content {
		height: 84px;
		display: flex;
		align-items: center;
		.item {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
			height: 100%;
			opacity: .6;
			transition: opacity .2s ease;
			color: #000;
			&:hover {
				opacity: 1;
			}
			.text {
				font-size: 16px;
			}
			.icon {
				font-size: 16px;
				margin-left: 5px;
			}
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
}

.drawerContent {
	display: flex;
	align-items: center;
	.item {
		display: flex;
		align-items: center;
		padding: 5px 0;
		opacity: .6;
		transition: opacity .2s ease;
		color: #000;
		&:hover {
			opacity: 1;
		}
		.text {
			font-size: 16px;
		}
		.icon {
			font-size: 16px;
			margin-left: 5px;
		}
	}
}